In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

from sklearn.linear_model import LinearRegression, Lasso
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error, make_scorer
from sklearn.pipeline import make_pipeline

from xgboost import XGBRegressor

In [134]:
data = pd.read_csv('data/train.csv', parse_dates=["date"], index_col="id")
stores = pd.read_csv('data/stores.csv')
oil = pd.read_csv('data/oil.csv', parse_dates=["date"], index_col="date")
holidays = pd.read_csv('data/holidays_events.csv', parse_dates=["date"])
transactions = pd.read_csv('data/transactions.csv', parse_dates=["date"])

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3000888 entries, 0 to 3000887
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   date         datetime64[ns]
 1   store_nbr    int64
 2   family       object
 3   sales        float64
 4   onpromotion  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 137.4+ MB

# Baseline Models

In [54]:
pipe = make_pipeline(StandardScaler(), LinearRegression())

X = data[["date", "store_nbr", "onpromotion"]]
X.date = X.date.astype(np.int64)
y = np.log(data["sales"] + 1)

pipe.fit(X, y)
mean_squared_error(y, pipe.predict(X)) ** 0.5

/var/folders/l_/zjyw1l0d37x3lbbq6x4vvs_00000gn/T/ipykernel_50257/3338432949.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.date = X.date.astype(np.int64)

2.521559304103492

In [120]:
fam = pd.get_dummies(data.family).astype(np.int8)
dow = pd.get_dummies(data.date.dt.dayofweek, prefix="dow", drop_first=True).astype(np.int8)
moy = pd.get_dummies(data.date.dt.month, prefix="moy", drop_first=True).astype(np.int8)
year = data.date.dt.year.rename("year")
store = pd.get_dummies(data.store_nbr, prefix="store", drop_first=True).astype(np.int8)

X = pd.concat([fam, dow, moy, year, store], axis=1)
X["promo"] = data.onpromotion.astype(pd.SparseDtype(int, 0))

X.head()

,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,CELEBRATION,CLEANING,DAIRY,DELI,...,store_46,store_47,store_48,store_49,store_50,store_51,store_52,store_53,store_54,promo
id,,,,,,,,,,,,,,,,,,,,,
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [80]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3000888 entries, 0 to 3000887
Columns: 105 entries, AUTOMOTIVE to promo
dtypes: Sparse[int64, 0](104), int32(1)
memory usage: 170.0 MB

In [84]:
lin_pipe = make_pipeline(StandardScaler(), LinearRegression())
lin_pipe.fit(X, y)
mean_squared_error(y, lin_pipe.predict(X)) ** 0.5

/Users/leoware/Documents/store-sales-time-series-forecasting/venv/lib/python3.10/site-packages/sklearn/utils/validation.py:785: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(
/Users/leoware/Documents/store-sales-time-series-forecasting/venv/lib/python3.10/site-packages/sklearn/utils/validation.py:785: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(
/Users/leoware/Documents/store-sales-time-series-forecasting/venv/lib/python3.10/site-packages/sklearn/utils/validation.py:785: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

1.2805653570193123

In [85]:
{k: v for k, v in zip(X.columns, lin_pipe[1].coef_)}

{'AUTOMOTIVE': 41834550738.34978,
 'BABY CARE': 41834550738.08374,
 'BEAUTY': 41834550738.27025,
 'BEVERAGES': 41834550739.23952,
 'BOOKS': 41834550738.07938,
 'BREAD/BAKERY': 41834550739.0064,
 'CELEBRATION': 41834550738.3084,
 'CLEANING': 41834550739.1454,
 'DAIRY': 41834550739.04938,
 'DELI': 41834550738.91988,
 'EGGS': 41834550738.84508,
 'FROZEN FOODS': 41834550738.78463,
 'GROCERY I': 41834550739.30778,
 'GROCERY II': 41834550738.484886,
 'HARDWARE': 41834550738.16815,
 'HOME AND KITCHEN I': 41834550738.42145,
 'HOME AND KITCHEN II': 41834550738.39581,
 'HOME APPLIANCES': 41834550738.11501,
 'HOME CARE': 41834550738.62818,
 'LADIESWEAR': 41834550738.248856,
 'LAWN AND GARDEN': 41834550738.26497,
 'LINGERIE': 41834550738.355515,
 'LIQUOR,WINE,BEER': 41834550738.650246,
 'MAGAZINES': 41834550738.19885,
 'MEATS': 41834550738.942215,
 'PERSONAL CARE': 41834550738.93134,
 'PET SUPPLIES': 41834550738.219666,
 'PLAYERS AND ELECTRONICS': 41834550738.277054,
 'POULTRY': 41834550738.93394,
 'PREPARED FOODS': 41834550738.74301,
 'PRODUCE': 41834550738.812355,
 'SCHOOL AND OFFICE SUPPLIES': 41834550738.14589,
 'SEAFOOD': 41834550738.442955,
 'dow_1': -0.016894171796331695,
 'dow_2': -0.02340558363081946,
 'dow_3': -0.026417218892335337,
 'dow_4': -0.006580211780608802,
 'dow_5': 0.07889890575851528,
 'dow_6': 0.03740859693920398,
 'moy_2': -0.013704848428461563,
 'moy_3': 0.03200175203120492,
 'moy_4': -0.006533599006168456,
 'moy_5': 0.005122699658081764,
 'moy_6': 0.02893858451083367,
 'moy_7': 0.07142280409299781,
 'moy_8': 0.03968218380495106,
 'moy_9': 0.08814931295310957,
 'moy_10': 0.09261875269260578,
 'moy_11': 0.093982392620656,
 'moy_12': 0.13663688739965113,
 'year': 0.4847820115307665,
 'store_2': 0.037009775733937,
 'store_3': 0.12956418791084517,
 'store_4': 0.018275208348477817,
 'store_5': 0.01237234970338761,
 'store_6': 0.04881339402158588,
 'store_7': 0.05569101094538903,
 'store_8': 0.08059122523500695,
 'store_9': 0.033452873909373265,
 'store_10': -0.08592233289791484,
 'store_11': 0.017904047516547783,
 'store_12': -0.07457345021992928,
 'store_13': -0.07933571383296922,
 'store_14': -0.07022032229093256,
 'store_15': -0.05650113370273654,
 'store_16': -0.0711793704742348,
 'store_17': -0.024081256122089556,
 'store_18': -0.05440705876855162,
 'store_19': -0.05511665108260311,
 'store_20': -0.17484145478858593,
 'store_21': -0.216097597998263,
 'store_22': -0.26502849763215364,
 'store_23': -0.0326414769871836,
 'store_24': 0.023542428184338327,
 'store_25': -0.049599968467619826,
 'store_26': -0.08536141360145467,
 'store_27': 0.020751518429592608,
 'store_28': -0.015010804807554151,
 'store_29': -0.19283016577704432,
 'store_30': -0.09403896379687132,
 'store_31': -0.018567913430496893,
 'store_32': -0.12613553372366323,
 'store_33': -0.044266337904474304,
 'store_34': -0.017744986823604314,
 'store_35': -0.1121364818935224,
 'store_36': -0.06201989602863012,
 'store_37': 0.03174528838861226,
 'store_38': 0.025092149776864164,
 'store_39': 0.01086564230006673,
 'store_40': -0.03612491553295066,
 'store_41': 0.001455354688568583,
 'store_42': -0.21247136186058352,
 'store_43': -0.05248660930185356,
 'store_44': 0.15000594854088178,
 'store_45': 0.1253936856102903,
 'store_46': 0.0956014980796594,
 'store_47': 0.1186653390095406,
 'store_48': 0.07201685968116989,
 'store_49': 0.10450259715439054,
 'store_50': 0.06296457292487151,
 'store_51': 0.07004808805676926,
 'store_52': -0.3806868084407642,
 'store_53': -0.12423927210180225,
 'store_54': -0.08250461451777916,
 'promo': 0.17120301108095384}

In [81]:
pipe = make_pipeline(MinMaxScaler(), XGBRegressor())
pipe.fit(X, y)
mean_squared_error(y, pipe.predict(X)) ** 0.5

/Users/leoware/Documents/store-sales-time-series-forecasting/venv/lib/python3.10/site-packages/sklearn/utils/validation.py:785: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(
/Users/leoware/Documents/store-sales-time-series-forecasting/venv/lib/python3.10/site-packages/sklearn/utils/validation.py:785: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(
/Users/leoware/Documents/store-sales-time-series-forecasting/venv/lib/python3.10/site-packages/sklearn/utils/validation.py:785: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

0.7801639258117617

# Feature Augmentation

In [ ]:
class Dummify:
    def __init__(self, cols):
        self.cols = cols

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return pd.get_dummies(X, columns=self.cols, drop_first=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1703 entries, 0 to 1702
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1703 non-null   datetime64[s]
 1   dcoilwtico  1703 non-null   float64
dtypes: datetime64[s](1), float64(1)
memory usage: 26.7 KB

/var/folders/l_/zjyw1l0d37x3lbbq6x4vvs_00000gn/T/ipykernel_50257/4176343313.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  oil = oil.join(oil_raw, on="date", how="left").fillna(method="bfill")

In [139]:
less.join(oil, on="date")

,date,store_nbr,family,sales,onpromotion,dcoilwtico
id,,,,,,
1090782,2014-09-06,15,AUTOMOTIVE,6.00,0,NaN
1471740,2015-04-08,53,CELEBRATION,0.00,0,50.44
2942208,2017-07-14,12,PLAYERS AND ELECTRONICS,3.00,0,46.53
1080613,2014-08-31,29,POULTRY,0.00,0,NaN
896300,2014-05-19,8,LAWN AND GARDEN,16.00,0,102.95
...,...,...,...,...,...,...
2126104,2016-04-11,14,GROCERY II,9.00,0,40.46
1761862,2015-09-18,43,PERSONAL CARE,167.00,0,44.71
859255,2014-04-29,19,BABY CARE,0.00,0,101.56
2127711,2016-04-12,1,BEVERAGES,1745.00,35,42.12
1380117,2015-02-16,32,MEATS,51.81,1,53.56

In [140]:
oil.index.min()

Timestamp('2013-01-01 00:00:00')